* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f5f5f5;
  color: #222;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  background: #fff;
  position: sticky;
  top: 0;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #222;
  font-weight: 500;
}

/* HOME */
.home {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home h1 {
  font-size: 3rem;
}

/* PROFILES */
.profiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  padding: 60px 10%;
}

.profile-card {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  transition: transform 0.3s;
}

.profile-card:hover {
  transform: translateY(-8px);
}

.profile-card img {
  width: 150px;
  height: 152px;
  margin-bottom: 15px;
}

.profile-card h2{
    margin-bottom: 20px;
}

.profile-card li{
    list-style: none;
}

.skills i {
  font-size: 28px;
  margin: 10px;
}

/* PROJECTS */
.projects {
  padding: 60px 10%;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.project-card {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
}

.project-card img {
  width: 100%;
  border-radius: 7px;
  
}

.project-card a {
  display: inline-block;
  margin-top: 10px;
  color: #0077ff;
}

/* CONTACT */
.contact {
  padding: 60px 10%;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

form input, form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
}

button {
  padding: 12px;
  background: #0077ff;
  color: white;
  border: none;
  cursor: pointer;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .contact-container {
    grid-template-columns: 1fr;
  }
}
